header{
	font-size: 3vh;
	position: absolute;
	top: 5vh;
	left: 5vh;
}
#save-product-btn{
	position: absolute;
	top: 5vh;
	left: 160vh
}
#cancel-product-btn{
	position: absolute;
	top: 5vh;
	left: 170vh
}
#sku-p{
	position: absolute;
	top: 15vh;
	left: 10vh;
}
#name-p{
	position: absolute;
	top: 20vh;
	left: 10vh;
}
#price-p{
	position: absolute;
	top: 25vh;
	left: 10vh;
}
#product-type-p{
	position: absolute;
	top: 30vh;
	left: 10vh;
}
#size-p, #weight-p, #height-p{
	position: absolute;
	top: 35vh;
	left: 10vh;
}
#width-p{
	position: absolute;
	top: 40vh;
	left: 10vh;
}
#length-p{
	position: absolute;
	top: 45vh;
	left: 10vh;
}
#sku{
	position: absolute;
	top: 15vh;
	left: 23vh;
}
#name{
	position: absolute;
	top: 20vh;
	left: 23vh;
}
#price{
	position: absolute;
	top: 25vh;
	left: 23vh;
}
#size, #weight, #height{
	position: absolute;
	top: 35vh;
	left: 23vh;
}
#width{
	position: absolute;
	top: 40vh;
	left: 23vh;
}
#length{
	position: absolute;
	top: 45vh;
	left: 23vh;
}
#productType{
	position: absolute;
	top: 30vh;
	left: 23vh;
}
footer{
	margin: 0;
	position: absolute;
	width: 100%;
	top: 95vh;
	background-color: #2ADFDA;
	z-index: 10;
	margin: 0 -1.3vh;
	padding: 12px 0;
}