html{
	overflow: auto;
}
header{
	font-size: 3vh;
	position: absolute;
	top: 5vh;
	left: 5vh;
}
#add-product-btn{
	position: absolute;
	top: 5vh;
	left: 160vh
}
#delete-product-btn{
	position: absolute;
	top: 5vh;
	left: 170vh
}
p{
	text-align: center;
}
.checkbox{
	text-align: left;
}
#productTable{
	display: inline-block;
	position: relative;
	top: 13vh;
	left: 5vh;
	height: 240px;
	width: 300px;
	border: 1px solid black;
	padding: 1% 2% 1% 2%;
	border-radius: 3%;
	margin: 10px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
footer{
	margin: 0;
	position: absolute;
	width: 100%;
	top: 95vh;
	background-color: #2ADFDA;
	z-index: 10;
	margin: 0 -1.3vh;
	padding: 12px 0;
}